<fieldset>
  <legend>HackJournals Plugin Settings</legend>
  <p>
    <label>Label:</label><%= text_field_tag 'settings[label]', settings['label'] %>
  </p>
</fieldset>

<!-- Can be reached by Setting['plugin_hackjournals']['label'] -->
